 input[type]
{
  background:transparent;
  border:0px none;

}
input[type="text"]{
  font-size:20px;
}
input[id="nation"]{
  font-size:18px;
  font-style:bold;
}
h2{
  background:transparent;
  border:none;
}
textarea{
  background:transparent;
  border:  none;
}
.container{
 padding:5px 80px;
 margin:auto;
 background:lightgrey;
 border:solid #666;
 border-width:8px 0px 2px 0px; 
}
 
}
hr{
  border:0.1px dotted;
  height:1px;
}
